<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Application styles-->
    <link rel="stylesheet" href="{{ asset('bundles/mrappsbackend/css/backend.css') }}">
    <!-- Themes-->
    <link rel="stylesheet" href="{{ asset('bundles/mrappsbackend/css/backend-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/components-font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/simple-line-icons/css/simple-line-icons.css') }}">
    <link rel='stylesheet' href='{{ asset('assets/vendor/toastr/toastr.min.css') }}'>
</head>
<body>
<div id="flash">
    {% if error is defined and error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('errors') %}
        <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}
</div>
{% block fos_user_content %}
{% endblock fos_user_content %}
</body>
</html>